@use '../utils/variables' as *;
@use '../utils/mixin' as *;

.sobre-imagem {
  width: 100%;
  height: 200px;
  display: block;
  object-fit: cover;
  position: sticky;
  bottom: 0;
  z-index: -1;

  @include on-tablet {
    height: 400px;
  }

  @include on-desktop {
    height: 460px;
  }
}

.sobre {
  padding-top: 48px;

  @include page-grid;
  @include content-padd;

  background-color: $bg-claro;

  @include on-desktop {
    height: 350px;
  }

  &-titulo {
    grid-column: span $coluna;

    @include title-text;

    margin-bottom: 24px;

    @include on-tablet {
      padding-block: 120px;
      margin: 0;
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: span 6;
    }
  }

  &-descricao {
    grid-column: span $coluna;
    margin-bottom: 48px;

    @include on-tablet {
      margin: 0;
      padding-block: 120px;
      grid-column: span 3;
    }

    @include on-desktop {
      grid-column: 8/-1;
    }
  }
}
