@use '../utils/mixin' as *;
@use '../utils/variables' as *;

.ver-todos {
  align-content: center;
  width: 100%;
  font-weight: bold;
  margin-bottom: 96px;

  @include button-page;

  @include on-desktop {
    width: 40%;
  }
}
