@use '../utils/mixin' as *;
@use '../utils/variables' as *;

.categoria {
  &__produto {
    @include page-grid;

    grid-column: span 2;
    gap: 20px;

    @include on-tablet {
      grid-column: span 6;
    }

    &-img {
      width: 100%;
      grid-column: span 1;

      @include on-tablet {
        grid-column: span 3;
      }

      @include on-desktop {
        grid-column: span 6;
      }
    }
  }

  &-titulo {
    margin-top: 16px;
    line-height: normal;
    margin-bottom: 47px;
  }

  &-nome {
    margin-bottom: 40px;
  }
}
