@use '../utils/variables' as *;
@use '../utils/mixin' as *;

.contato {
  margin-top: 64px;
  gap: 16px;
  pointer-events: all;

  @include page-grid;
  @include content-padd;

  &-titulo {
    grid-column: span 2;
    margin-bottom: 48px;

    @include on-tablet {
      grid-column: 1/-1;
    }
  }

  &__formulario {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include on-tablet {
      grid-column: span 6;
    }
  }

  &-entrada {
    height: 48px;
    border-radius: $raio-botao;
    padding-left: 16px;
    border: none;
    outline: none;
    background-color: #f9f9f9;
    transition: border-color 0.3 ease;

    &:hover {
      border: 1px solid $borda-hover;
    }

    &:focus {
      border: 1px solid $botao-laranja;
    }
  }

  &-area-texto {
    padding: 16px;
    border-radius: $raio-botao;
    height: 148px;
    background-color: #f9f9f9;
    grid-column: span 2;
    font-family: inherit;
    border: none;
    outline: none;
    transition: all 0.3 ease;

    &:hover {
      border: 1px solid $borda-hover;
    }

    &:focus {
      border: 1px solid $botao-laranja;
    }
  }

  &-botao {
    width: 100%;
    grid-column: span 2;
    margin-block: 16px 48px;

    @include button-page;
  }
}
