@use '../utils/variables' as *;
@use '../utils/mixin' as *;

.cabecalho {
  box-sizing: border-box;
  padding: 24px 20px 40px;
  background-image: url(/src/styles/img/background/background-top.png);
  background-size: cover;
  height: 100vh;
  background-position: center;

  @include content-padd;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__topo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
      display: flex;
      align-items: center;
      max-width: 228px;
      max-height: 16px;
      width: 80%;

      &-img {
        width: 100%;
        height: auto;
        display: block;
      }
    }

    &-esquerda {
      align-items: center;
      display: flex;
      gap: 24px;
      position: relative;

      &-tel {
        order: -1;
        opacity: 0;
        visibility: hidden;
        transform: translateX(-10px);
        transition: all 0.3s ease;
        white-space: nowrap;
        color: #000;
      }
    }
  }

  &__titulo {
    color: #fff;
    font-size: 36px;
    font-weight: bold;
    line-height: 120%;

    @include on-tablet {
      font-size: 48px;
    }

    @include on-desktop {
      font-size: 56px;
    }
  }
}
