@use '../utils/mixin' as *;
@use '../utils/variables' as *;

.icone {
  width: 24px;
  height: 24px;
  display: block;
}

.icone--telefone {
  background-image: url(/src/styles/img/icon/icon-phone-call.png);

  @include on-desktop {
    &:hover + .cabecalho__topo-esquerda-tel {
      opacity: 1;
      visibility: visible;
    }
  }
}

.icone--menu {
  background-image: url(/src/styles/img/icon/icon-burger-menu.png);

  &:hover {
    background-image: url(/src/styles/img/icon/icon-burger-menu-hover.png);
  }
}

.icone--fechar {
  background-image: url(/src/styles/img/icon/icon-close.png);
  background-repeat: no-repeat;
  background-position: center;
}
