@use '../utils/variables' as *;
@use '../utils/mixin' as *;

.contato__info {
  @include on-desktop {
    grid-column: 8/-1;
  }
}

.informacao {
  padding-inline: 20px;
  padding-bottom: 64px;

  &-titulo {
    color: $titulo-cinza;
  }

  &-descricao {
    color: $informacao-descricao;

    &:hover {
      color: #54545e;
    }
  }
}
