@use '../utils/variables' as *;
@use '../utils/mixin' as *;

.menu {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  background-color: #fff;
  overflow: auto;
  box-sizing: border-box;
  padding: 24px 20px 40px;

  @include content-padd;

  height: 100vh;

  display: flex;
  flex-direction: column;

  opacity: 0;
  pointer-events: none;

  &:target {
    opacity: 1;
    pointer-events: all;
  }

  &__topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__conteudo {
    display: flex;
    flex-direction: column;
  }

  &__ligar-pedido {
    align-self: flex-start;
    text-transform: uppercase;
    padding-bottom: 4px;
    margin-top: 16px;
  }

  &__telefone {
    align-self: flex-start;
    margin-top: 48px;
  }
}
