@use '../utils/mixin' as *;
@use '../utils/variables' as *;

.navegacao__lista {
  display: flex;
  flex-direction: column;
  gap: 32px;
  list-style: none;
  padding: 0;
  color: inherit;
  font-size: 22px;
  font-weight: bold;
}

.navegacao__item {
  margin-top: 32px;
}

.navegacao__link {
  text-decoration: none;
  color: inherit;
  position: relative;
  display: inline-block;
  padding: 4px 0;

  &::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #000;
    transition: width 0.3s ease-in-out;
    z-index: 1;
  }

  &:hover::after {
    width: 100% !important;
  }
}
