@use '../utils/variables' as *;
@use '../utils/mixin' as *;

body {
  margin: 0;
  padding: 0;

  @include normal-text;

  background-color: transparent;
}

.pagina {
  scroll-behavior: smooth;
  background-color: transparent;
  pointer-events: none;

  &:has([id='menu']:target) {
    overflow: hidden;
  }
}

.cabecalho,
.principal,
.sobre,
.sobre-imagem,
.menu {
  position: relative;
  z-index: 1;
  pointer-events: auto;
}

.principal {
  padding-inline: 20px;

  @include content-padd;

  background-color: #fff;
}

.oculto {
  display: none;
}

.imagem-tamanho {
  transition: transform 0.3s ease;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
  }
}

.link-padrao {
  text-decoration: none;
}
