@use '../utils/mixin' as *;
@use '../utils/variables' as *;

.recomendados {
  @include page-grid;

  padding-block: 64px 84px;
  gap: 20px;

  &-titulo {
    grid-column: 1/-1;

    @include title-text;
  }

  &__produto {
    grid-column: span 2;

    @include on-tablet {
      grid-column: 1/-1;
    }

    @include on-desktop {
      grid-column: span 4;
    }

    &-img {
      width: 100%;
    }

    &-preco {
      font-weight: bold;
    }
  }
}
