@use 'utils/variables' as *;
@use 'utils/mixin' as *;
@use 'blocks/page';
@use 'blocks/header';
@use 'blocks/menu';
@use 'blocks/nav';
@use 'blocks/recommended';
@use 'blocks/category';
@use 'blocks/about';
@use 'blocks/info';
@use 'blocks/button';
@use 'blocks/icon';
@use 'blocks/contact';
