$coluna: 2;

// colors
$escuro: #1b2129;
$informacao-descricao: #191919;
$informacao-descricaoricao-hover: #010810;
$branco: #fff;
$titulo-cinza: #9393a3;
$bg-claro: #fcfaef;
$botao-laranja: #f98921;
$botao-laranja-hover: #f98745;
$botao-pressionado: #010810;
$borda-hover: #dbdbdb;

// radius button
$raio-botao: 8px;

// width
$largura-min: 320px;
$largura-min-tablet: 768px;
$largura-min-desktop: 1260px;
